{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      <form action="" method="post">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class='border-bottom mb-4'>🦸‍♂️🦸‍♀️请告诉我你的名字😊</legend>
            <!-- name form starts here -->
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.name.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <!-- email form ends here -->
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        
        </div>
      </form>
    </div>
    <div class="border-top pt-3">
      <small class="text-muted">
          游泳健身了解一下? <a class="ml-2" href="{{ url_for('users.register') }}">Sign Up Now</a>
      </small>
    </div>
{% endblock content %}
